@using ArchBackend.Core.Models;
@{
    ViewData["Title"] = "ProjectGalery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Project>



<div class="content-wrapper">

    <!-- Lines -->
    <section class="content-lines-wrapper">
        <div class="content-lines-inner">
            <div class="content-lines"></div>
        </div>
    </section>

    <!-- Header Banner -->
    <section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-light="3" data-background="@Url.Content("~/img/banner.jpg")">
        <div class="left-panel"></div>
    </section>

    <!-- Project Page -->
    <div class="content-wrapper">
        <!-- Project Gallery -->
        <section class="section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Project <span>Gallery</span></h2>
                    </div>
                </div>
                <div class="row">
                    @foreach (var project in Model)
                    {
                        if (project != null)
                        {
                            <div class="col-md-6 gallery-masonry-wrapper single-item">
                                <a href="@Url.Content(project.ImagePath)" class="gallery-masonry-item-img-link img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img">
                                            <img src="@Url.Content(project.ImagePath)" class="img-fluid mx-auto d-block">
                                        </div>
                                        <div class="gallery-masonry-item-img"></div>
                                        <div class="gallery-masonry-item-content">
                                            <h4 class="gallery-masonry-item-title">@project.Name</h4>
                                            <div class="gallery-masonry-item-category">@project.Description</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
    <!-- Prev-Next Projects -->
    <section class="projects-prev-next py-4 border-top">
        <div class="container">
            <div class="row text-center text-sm-start">
                <div class="col-md-4 mb-2">
                    <a href="/home/projects" class="d-inline-block"><i class="ti-arrow-left"></i> Previous Project</a>
                </div>
                <div class="col-md-4 mb-2 text-center">
                    <a href="/home/projects" class="d-inline-block"><i class="ti-layout-grid3-alt"></i></a>
                </div>
                <div class="col-md-4 mb-2 text-sm-end">
                    <a href="/home/projects" class="d-inline-block">Next Project <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
</div>


@section style{

    <style>

        .gallery-img{
            width: 100%; /* Görselin genişliği tamamen kapsayıcıya otursun */
            max-width: 1000px;
            height: 300px;
            aspect-ratio: 4 / 3;
            object-fit: cover;
            display: block;
            margin: 0 auto;
            border-radius: 12px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        }

    </style>

}


